<div>
<h1 style="text-align: center"> Invalid input!!! </h1>
<h2 style="text-align: center"> You should type a number. </h2>
    <div class="col-sm-8 col-sm-offset-8">
        <a  style="text-align: right" class="btn btn-default btn-xs" href="/"> back &raquo;</a>
    </div>
</div>


