@{
    ViewBag.Title = "Additional info";
    ViewBag.Message = "This is our issue trakcer!";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
